echo "Hello, welcome to AWB (pronounced as \"orb\")!"
echo "What you see before you is called a shell. It is ancient technology, dating back"
echo "to the long-ago ages of the nineteen-seventies-ish."
echo
echo "Below, you will see what is known as \"the prompt\". On a lot of machines,"
echo "it looks something like this:" 
echo "username@machine:~/some/strange/list$"

